.item{
    display: flex;
    padding: 4px 8px 4px 8px; // 6 20 6 10
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;

    >.icon{
        margin: 0.5rem;
        margin-top: 6px;
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
        transition: 0.5s all;

        &:hover{
            color:#ff1100;
        }
    }
}

@media screen and (max-width:600px) {
    .item{
        flex-direction: column;
        padding: 0;
            >h5{
            margin-top: -0.5rem;
        }
    }
}

@media screen and (max-width:450px) {
    .item{
        padding: 0 0.5rem;
    }
}