section{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;

    h1{
      margin-top: 1rem;
      word-spacing: 0.3rem;
      letter-spacing: 0.1rem;
      font-family: "Roboto";
      color: gray;
      text-align: center;
    }
    >.projects{
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    
      >.project{
        border: 2px solid black;
        margin: 1rem;
        height: 10rem;
        width: 10rem;
        display: flex;
        flex-direction: column;
        background-color: white;
        box-shadow: 0 0 0.5rem #333;
        box-shadow: rgb(25,25,255);
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        transition: 1s all;

        &:hover{
          transform: scale(1.2);
        }
        
        >img{
        justify-content: center;
        align-items: center;
        height: 6rem;
        width: 10rem;
        }
        >h5{
        color: black;
        text-align: center;
        font-size: 1rem;
        padding: 0.1rem;
        text-decoration: none; 
        }
      }
    }
}


@media screen and (max-width:650px) {
    section>.projects>.project{
    height: 7rem;
    width: 7rem;
    >img{
    height:5rem;
    width: 7rem;
    }
    >h5{
    font-size: 0.6rem;
    }
}
}

@media screen and (max-width:500px) {
    section>.projects>.project{
    height: 5rem;
    width: 5rem;
    >img{
    height:3rem;
    width: 5rem;
    }
    >h5{
    font-size: 0.4rem;
    }
}
}

@media screen and (max-width:450px) {
    section>.projects{
    justify-content: space-around;
  }
}

